$background-modal: #808080;
$base-color: #fff;
$font-medium: 18px;
$modal-footer-color: #636363;

.modal {
  animation: fadeIn .3s;
  position: absolute;
  top: 11%;
  width: 100%;
  z-index: 999;
}

.modal-pop {
  background: $base-color;
  border-radius: 5px;
  margin: auto;
  max-width: 420px;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.modal-overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: .75;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.modal-image {
  height: auto;
  width: 100%;
}

.modal-container {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  text-transform: uppercase;

  &__right {
    display: flex;
    justify-content: flex-end;
  }
}


.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4%;
  text-align: center;
  width: 100%;

  &__child {
    display: flex; 
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
        
    &:not(:first-child) { // Appling styles to all .child elements except the first one
      border-left: 1px solid rgb(73, 73, 73);
    }

    strong:first-of-type {
      padding-bottom: 2px;
    }  
  }
}

.modal-desc {
  display: flex;
  justify-content: center;
  padding: 1% 5% 3% 5%;
}

.modal-footer {
  align-items: center;
  background-color: $modal-footer-color;
  border: 0;
  color: $base-color; 
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

strong {
  font-size: $font-medium;
}

