$font-stack: Verdana, Geneva, sans-serif;
$font-size: 11px;
$p-weight: 400;
$p-color: #4a4f54;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    font-size: $font-size;
    animation: fadeIn 1.5s;

    p {
        color: $p-color;
        font-weight: $p-weight;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}